@font-face {
    font-family: mangatb;
    src: url(../fonts/mangatb.ttf);
}
@font-face {
    font-family: mangat;
    src: url(../fonts/mangat.ttf);
}
@font-face {
    font-family: mangati;
    src: url(../fonts/mangati.ttf);
}
@font-face {
    font-family: animebld;
    src: url(../fonts/animeace2_bld.ttf);
}

:root{
    --primary-color: rgb(89, 163, 166);
    --panda-color1: #d0eba4;
    --panda-color: #9FE5CE;
    --gradient: linear-gradient(126deg, rgba(159,229,197,1) 0%, rgba(195,232,184,1) 50%, rgba(208,235,164,1) 100%);
}

body{
    background-color: #242424;
    margin: 0;
    height: unset;
}

#container-header-outer{
    width: 95vw;
    max-width: 600px;
    height: 108px;
}

#container-header{
    z-index: 3;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 81px;
    width: 100%;
    border-radius: .25rem;
    align-self: top !important;
    background-color: #404040;
    margin-top: 12px;
    box-shadow: 4px 4px 10px #0a0a0a;

}

#logo {
    padding-left: 1rem;
    font-size: 22px;
    align-self: center;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    font-family: animebld;
}

#menu {
    align-self: center;
    justify-self: right;
    padding-right: 1rem;
}

i.fas.fa-paw{
    color: var(--panda-color);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px !important;
}

.fas.fa-bars{
    color: var(--panda-color1);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px;
    display: none;
}

#container {
    margin: 0 auto;
    max-width: 1200px;
    width: 95vw;
    position: relative;
}

#container-body {
    
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
}

#categoryHeading{
   justify-self: center;
   font-size: 22px;
   color: var(--panda-color);
    padding-top: 20px;
    font-family: animebld;
    text-align: center;
    color: white;
}

#container-menu{
    max-width: 600px;
    display: grid;
    height: calc(100vh - 100px);
    align-items: center;
    grid-template-rows: repeat(150, 22%); 
    row-gap: 3%;
    width: 95vw;
}

.menu-button{

    color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    border-radius: .25rem;
    box-shadow: 4px 4px 10px #0a0a0a;
    height: 100%;
    cursor: pointer;
    transition: 150ms;
    font-size: 27px;
    font-family: animebld !important;
    align-items: center;
    width: 100%;

}

#marvel{
    background-color: rgba(136, 0, 0, 0.897);
  
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
}

#anime{
    background-image: url("../img/106727ED-1401-46DF-B618-D51F29C0DC9D.webp");
    color: white;
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 2px #0a0a0a;
}

#entertainment{
    background-image: url("../img/baddfdc7800fde56f833875bee964b1b.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
}

#pandaFav{
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    background-size: cover;
    background-position: center;
    background-image: url("../img/1144293.jpeg");
}

.menu-button:hover {
    box-shadow: 4px 4px 10px rgb(37, 37, 37);
}


#highscore-span{
    padding-left: 1rem;
}

