@font-face {
    font-family: mangatb;
    src: url(../fonts/mangatb.ttf);
}
@font-face {
    font-family: mangat;
    src: url(../fonts/mangat.ttf);
}
@font-face {
    font-family: mangati;
    src: url(../fonts/mangati.ttf);
}
@font-face {
    font-family: animebld;
    src: url(../fonts/animeace2_bld.ttf);
}
@font-face {
    font-family: animeital;
    src: url(../fonts/animeace2_ital.ttf);
}

:root {
    --primary-color: rgb(89, 163, 166);
    --panda-color1: #d0eba4;
    --panda-color: #9FE5CE;
    --gradient: linear-gradient(126deg, rgba(159,229,197,1) 0%, rgba(195,232,184,1) 50%, rgba(208,235,164,1) 100%);
}

.closeTimes.fa-times{
    color: white;
}

#PopUpName{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.795);
    display: none;
}

#inner{
    max-width: 400px;
    height: fit-content;
    width: 90vw;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    flex-direction: column;
    background: var(--gradient);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 4px 4px 10px #292929;
}

#popUpInner {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #404040;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-family: animeital;
    font-size: 21px;
    box-shadow: 4px 4px 10px #292929;
}

#points{
    grid-row-start: 1;
    grid-column-start: 3;
    text-align: end;
}

#currentScore{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span col2-start;
}

#inputLabel{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span col2-start;  
}

#inputName{
    grid-row-start: 2;
    grid-column-start: 3;
    width: 95%;
    justify-self: end;
    border: 1px solid silver;
    border-radius: 4px;
    text-align: center;
    font-size: 21px;
    font-family: animeital;
    background-color: #404040;
    outline: none;
    color: white;
}

#submitButton{
    margin-top: 20px;
    grid-row-start: 2;
    grid-column-start: 3;
    background-color: #404040;
    box-shadow: 4px 4px 10px #292929;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    border:none;
    border-radius: 4px;
    font-size: 21px;
    font-family: animebld;
}

#closingButton{
    margin-top: 20px;
    grid-row-start: 2;
    grid-column-start: 1;
    background-color: #404040;
    box-shadow: 4px 4px 10px #292929;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    border:none;
    border-radius: 4px;
    font-size: 21px;
    font-family: animebld;
}

#container-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.heading {
    font-size: 22px;
    font-family: animebld;
    color: var(--panda-color);
}

.heading2 {
    font-size: 22px;
    font-family: animebld;
    color: var(--panda-color1);
}

.fas.fa-caret-down {
    font-size: 28px;
    color: var(--panda-color);
    margin-right: 12px;
    align-self: center;
}

.fas.fa-caret-down.closed {
    transform: rotate(-90deg);
}

.heading-container{
    margin-top: 20px !important;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.highscoreTable-container {
    max-width: 600px;
    width: 95vw;
    height: fit-content;
    border-radius: .25rem !important;
    text-align: center;
    box-shadow: 4px 4px 10px #0a0a0a;
    background: linear-gradient(126deg, rgba(159,229,197,1) 0%, rgba(195,232,184,1) 50%, rgba(208,235,164,1) 100%);
}

.highscoreTable-container > div {
    padding: 10px;
}

.eachCategoryTable{
    margin-bottom: 40px;
}

.currentClosed {
    display: none !important;
}
  
.score-outer {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: 23px;
    border-bottom: none;
    color: white;
    column-gap: 10px;
    box-shadow: 4px 4px 10px #707070;
    background-color: white;
    border-radius: .25rem;
    font-family: animeital;
    padding-top: 10px;
    padding-bottom: 10px;
}

.score-outer:not(:last-child) {
    margin-bottom: 10px;
}

.score-outer > .countBox {
    justify-self: center;
    font-size: 23px !important;
    border-radius: .25rem;
    color: rgb(95, 95, 95);
    width: 90% !important;
    text-align: center;
}

.score-outer > .score {
    font-size: 22px;
    color: rgb(100, 100, 100);
    font-family: animeital !important;
    justify-self: center;
}

.name {
    color:rgb(100, 100, 100);
    font-family: animebld;
}

@media screen and (max-width: 370px) {

    #inputLabel{
        font-size: 19px !important;
    }

    #currentScore{
        font-size: 19px !important;
    }
}


@media screen and (max-width: 365px) {
    .heading {
        font-size: 20px !important;
    }
    .heading2 {
        font-size: 20px !important;
    }
}


@media screen and (max-width: 340px) {
    #inputLabel{
        font-size: 17px !important;
    }

    #currentScore {
        font-size: 17px !important;
    }
}

@media screen and (max-width: 312px) {
    .heading {
        font-size: 18px !important;
    }
    .heading2 {
        font-size: 18px !important;
    }
}
