@font-face {
    font-family: mangatb;
    src: url(../fonts/mangatb.ttf);
}
@font-face {
    font-family: mangat;
    src: url(../fonts/mangat.ttf);
}
@font-face {
    font-family: mangati;
    src: url(../fonts/mangati.ttf);
}
@font-face {
    font-family: animebld;
    src: url(../fonts/animeace2_bld.ttf);
}
@font-face {
    font-family: animeital;
    src: url(../fonts/animeace2_ital.ttf);
}

:root {
    --primary-color: rgb(89, 163, 166);
    --panda-color1: #d0eba4;
    --panda-color: #9FE5CE;
    --gradient: linear-gradient(126deg, rgba(159,229,197,1) 0%, rgba(195,232,184,1) 50%, rgba(208,235,164,1) 100%);
}

.menu-button.light_mode_css {
    background-color: #ffffff !important
}

#innerStart.light_mode_css {
    background-color: #ffffff !important;
}

#container-body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
}

#container-app {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 95vw;
    height: 100%;
}

#app-foto {
    margin: auto;
    height: 35vh;
    border-radius: .25rem;
    text-align: center;
    max-width: 400px;
    max-height: 350px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    box-shadow: 4px 4px 10px #0a0a0a;
}

#container-menu{
    display: grid;
    height: 32vh;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 15px;
    margin-bottom: 40px;
}

.menu-button{
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    border-radius: .25rem;
    box-shadow: 4px 4px 10px #0a0a0a;
    height: 100%;
    cursor: pointer;
    transition: 150ms;
    font-size: 27px;
    font-family: animebld !important;
    align-items: center;
}

.menu-button:hover {
    box-shadow: 4px 4px 10px rgb(37, 37, 37);
}

#start {
    background: var(--gradient);
}

#highscore-span{
    padding-left: 1rem;
}

#innerStart {
    display: flex;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: white;
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
    padding: 3.5px;
}

@media screen and (max-width: 365px) {
    .menu-button {
        font-size: 23px !important;
    }
}

@media screen and (max-width: 312px) {
    #app-foto {
        max-width: 400px !important;
        max-height: 200px !important;
    }
}

@media screen and (min-height: 1050px) {
    .menu-button {
        font-size: 30px !important;
    }
}

@media screen and (max-height: 645px) { 
    #container-menu {
        gap:10px !important;
        margin-bottom: 20px!important;
    }
}

