body{
    background-color: #242424;
    margin: 0;
    height: 100vh;
}

#container-header-outer{
    width: 95vw;
    max-width: 600px;
 
}

#container-header{
    z-index: 3;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 81px;
    width: 100%;
    border-radius: .25rem;
    align-self: top !important;
    background-color: #404040;
    margin-top: 12px;
    box-shadow: 4px 4px 10px #0a0a0a;
}

#logo {
    padding-left: 1rem;
    font-size: 22px;
    align-self: center;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    font-family: animebld;
}

#menu {
    align-self: center;
    justify-self: right;
    padding-right: 1rem;
}

i.fas.fa-paw{
    color: var(--panda-color);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px ;
}

.headerbar.fas.fa-cog{
    color: var(--panda-color1);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px ;
}

.fas.fa-crown{
    font-size: 24px !important;
    color: rgb(223, 161, 4);
}

.fas.fa-bars{
    color: var(--panda-color1);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px;
}

.fas.fa-times{
    color: var(--panda-color1);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px;
    cursor: pointer;
}

.fa-paw{
    cursor: pointer;
}

#menu-container.show{
    left: 0px;
}

#menu-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 1 !important;
    height: 100%;
    background-color: #3a3a3a;
    position: fixed;
    width: 100vw;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    transition: all 0.5s ease ;
    left: -100%;
    justify-content: center;
}

#menu-liste{
    display: grid;
    grid-template-rows: auto;
    height: 100%;
    list-style: none;
    margin: 0!important;
    width: calc(100% - 16px);
    padding: 0;
    max-width: 600px;
}

#h:first-child {
    margin-top: 110px;
}

.menu-item{
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    gap: 15px;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.item-container{
    display: grid;
    font-size: 20px;
    font-family: animebld;
    align-items: center;
    padding: 3px;
    height: 15%;
    border-top: 1px solid rgba(117, 117, 117, 0.623);
    background-color: #66666600;    
}

.item-container:hover{
    background:  rgb(78, 78, 78) ;
}

.item-container:last-child{
    border-bottom: 1px solid rgba(117, 117, 117, 0.623);
}

.icon{
    justify-self: center;
    font-size: 25px;
    text-shadow: 1px 1px 2px #0a0a0a;
    color: var(--panda-color);
    padding-left: 1rem;
}

.fas.fa-bars{
    cursor: pointer;
}

.fa-seedling{
    justify-self: center;
    font-size: 24px;    
}

.menu-p{
    display: flex;
    flex-direction: row;
    text-align: center !important;
    position: absolute;
    font-size: 20px;
    font-family: animeital;
    background: linear-gradient(126deg, #9FE5CE 0%, rgba(195,232,184,1) 50%, #d0eba4 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 700px) {
    #menu-container.show{
        top: 0px !important;
    }

    #menu-container {
        top: -100% !important;
        left: 0% !important;
    }
}

@media screen and (max-width: 365px) {
    #logo {
        font-size: 18px !important;
    }
    
    i.fas.fa-paw{
        font-size: 28px !important;
    }
    
    .headerbar.fas.fa-cog{
        font-size: 28px !important;
    }
    
    .fas.fa-times{
        font-size: 28px !important;
    }

    .fas.fa-bars{
        font-size: 28px !important;
    }

    .icon{
        font-size: 20px !important;
    }

    .menu-item{
        font-size: 16px !important;
    }

    .menu-p{
        font-size: 16px !important;
    }

    .fa-seedling{
        font-size: 18px !important;
    }
  }

  @media screen and (max-width: 312px) {
    #logo {
        font-size: 17px !important;
    }

    .headerbar.fas.fa-cog{
        font-size: 27px !important;
    }
    
    i.fas.fa-paw{
        font-size: 27px !important;
    }
    
    .fas.fa-bars{
        font-size: 27px !important;
    }
    
    .fas.fa-times{
        font-size: 27px !important;
    }

    .icon{
        font-size: 20px !important;
    }

    .menu-item{
        font-size: 16px !important;
    }

    .menu-p{
        font-size: 16px !important;
    }

    .fa-seedling{
        font-size: 18px !important;
    }
  }

@media screen and (max-height: 645px) { 
    #container-menu {
        gap:10px !important;
        margin-bottom: 20px!important;
    }
}



@media screen and (max-height: 480px) { 
    #container-header { /*für alle seiten */
        height: 61px !important;
    }

    #h:first-child {
        margin-top: 90px;
    }
}