body{
    background-color: #242424;
    margin: 0;
    height: 100vh;
}

#container-header-outer{
    width: 95vw;
    max-width: 600px;
}

#container-header{
    z-index: 3;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 81px;
    width: 100%;
    border-radius: .25rem;
    align-self: top !important;
    background-color: #404040;
    margin-top: 12px;
    box-shadow: 4px 4px 10px #0a0a0a;
}

#logo {
    padding-left: 1rem;
    font-size: 22px;
    align-self: center;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    font-family: animebld;
}

#menu {
    align-self: center;
    justify-self: right;
    padding-right: 1rem;
}

i.fas.fa-paw{
    color: var(--panda-color);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px ;
}

.headerbar.fas.fa-cog{
    color: var(--panda-color1);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px ;
}

.fas.fa-crown{
    font-size: 24px !important;
    color: rgb(223, 161, 4);
}

.fas.fa-bars{
    color: var(--panda-color1);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px;
}

.fas.fa-times{
    color: var(--panda-color1);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px;
    cursor: pointer;
}

.fa-paw{
    cursor: pointer;
}

#menu-container.show{
    left: 0px;
}

#menu-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 1 !important;
    height: 100%;
    background-color: #3a3a3a;
    position: fixed;
    width: 100vw;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    transition: all 0.5s ease ;
    left: -100%;
    justify-content: center;
}

#menu-liste{
    display: grid;
    grid-template-rows: auto;
    height: 100%;
    list-style: none;
    margin: 0!important;
    width: calc(100% - 16px);
    padding: 0;
    max-width: 600px;
}

#h:first-child {
    margin-top: 110px;
}

.menu-item{
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    gap: 15px;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.item-container{
    display: grid;
    font-size: 20px;
    font-family: animebld;
    align-items: center;
    padding: 3px;
    height: 15%;
    border-top: 1px solid rgba(117, 117, 117, 0.623);
    background-color: #66666600;    
}

.item-container:hover{
    background:  rgb(78, 78, 78) ;
}

.item-container:last-child{
    border-bottom: 1px solid rgba(117, 117, 117, 0.623);
}

.icon{
    justify-self: center;
    font-size: 25px;
    text-shadow: 1px 1px 2px #0a0a0a;
    color: var(--panda-color);
    padding-left: 1rem;
}

.fas.fa-bars{
    cursor: pointer;
}

.fa-seedling{
    justify-self: center;
    font-size: 24px;    
}

.menu-p{
    display: flex;
    flex-direction: row;
    text-align: center !important;
    position: absolute;
    font-size: 20px;
    font-family: animeital;
    background: linear-gradient(126deg, #9FE5CE 0%, rgba(195,232,184,1) 50%, #d0eba4 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.closeTimes.fa-times {
    color: white;
}

#optionen_popup{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.795);
    display: none;
}

#optionen_inner {
    max-width: 400px;
    height: fit-content;
    width: 90vw;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    flex-direction: column;
    background: var(--gradient);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 4px 4px 10px #292929;
}

#optionen_popUpInner {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    background-color: #404040;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-family: animeital;
    font-size: 21px;
    box-shadow: 4px 4px 10px #292929;
    height: 14vh;
    align-items: center;
    padding-left: 60px;
    padding-right: 20px;
}

#option_submitButton {
    margin-top: 20px;
    grid-row-start: 3;
    grid-column-start: 3;
    background-color: #404040;
    box-shadow: 4px 4px 10px #292929;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    border:none;
    border-radius: 4px;
    font-size: 21px;
    font-family: animebld;
}

#option_closingButton {
    margin-bottom: 10px;
    grid-row-start: 1;
    grid-column-start: 3;
    text-align: right;
    border:none;
    background: transparent !important;
    font-size: 21px;
    font-family: animebld;
}

#option_resetButton {
    margin-top: 20px;
    grid-row-start: 3;
    grid-column-start: 1;
    background-color: #404040;
    box-shadow: 4px 4px 10px #292929;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    border:none;
    border-radius: 4px;
    font-size: 21px;
    font-family: animebld;
}

.sound {
    padding: 2px;
    grid-row-start: 2;
    grid-column-start: 1;
    font-size: 30px;
}

.lightmode {
    padding: 2px;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 30px;
}

.switch {
    padding: 2px;
    align-self: center;
    grid-row-start: 1;
    grid-column-start: 2;
    position: relative;
    display: inline-block;
    width: 60px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch_slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch_slider {
    background: var(--gradient);
}

input:focus + .switch_slider {
    box-shadow: 1px 1px 2px #0a0a0a;
}

input:checked + .switch_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.switch_slider.round {
    border-radius: 34px;
}

.switch_slider.round:before {
    border-radius: 50%;
}

.slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--gradient);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    #menu-container.show{
        top: 0px !important;
    }

    #menu-container {
        top: -100% !important;
        left: 0% !important;
    }
}

@media screen and (max-width: 365px) {
    #logo {
        font-size: 18px !important;
    }
    
    i.fas.fa-paw{
        font-size: 28px !important;
    }
    
    .headerbar.fas.fa-cog{
        font-size: 28px !important;
    }
    
    .fas.fa-times{
        font-size: 28px !important;
    }

    .fas.fa-bars{
        font-size: 28px !important;
    }

    .icon{
        font-size: 20px !important;
    }

    .menu-item{
        font-size: 16px !important;
    }

    .menu-p{
        font-size: 16px !important;
    }

    .fa-seedling{
        font-size: 18px !important;
    }
  }

  @media screen and (max-width: 312px) {
    #logo {
        font-size: 17px !important;
    }

    .headerbar.fas.fa-cog{
        font-size: 27px !important;
    }
    
    i.fas.fa-paw{
        font-size: 27px !important;
    }
    
    .fas.fa-bars{
        font-size: 27px !important;
    }
    
    .fas.fa-times{
        font-size: 27px !important;
    }

    .icon{
        font-size: 20px !important;
    }

    .menu-item{
        font-size: 16px !important;
    }

    .menu-p{
        font-size: 16px !important;
    }

    .fa-seedling{
        font-size: 18px !important;
    }
  }

@media screen and (max-height: 645px) { 
    #container-menu {
        gap:10px !important;
        margin-bottom: 20px!important;
    }
}

@media screen and (max-height: 480px) { 
    #container-header { /*für alle seiten */
        height: 61px !important;
    }

    #h:first-child {
        margin-top: 90px;
    }
}

@media screen and (max-height: 590px) { 
    #optionen_popUpInner {
        height: 16vh !important;
    }
}