@font-face {
    font-family: mangatb;
    src: url(../fonts/mangatb.ttf);
}
@font-face {
    font-family: mangat;
    src: url(../fonts/mangat.ttf);
}
@font-face {
    font-family: mangati;
    src: url(../fonts/mangati.ttf);
}

@font-face {
    font-family: animebld;
    src: url(../fonts/animeace2_bld.ttf);
}

@font-face {
    font-family: animeital;
    src: url(../fonts/animeace2_ital.ttf);
}

:root {
    --primary-color: rgb(89, 163, 166);
    --panda-color1: #d0eba4;
    --panda-color: #9FE5CE;
    --gradient: linear-gradient(126deg, rgba(159,229,197,1) 0%, rgba(195,232,184,1) 50%, rgba(208,235,164,1) 100%);
}

body{
    background-color: #242424;
    margin: 0;
    height: 100vh;
}

#container-header-outer{
    width: 95vw;
    max-width: 600px;
    height: 100%;
   
}

#container-header{
    z-index: 3;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 81px;
    width: 100%;
    border-radius: .25rem;
    align-self: top !important;
    background-color: #404040;
    margin-top: 12px;
    box-shadow: 4px 4px 10px #0a0a0a;

}

#logo {
    padding-left: 1rem;
    font-size: 22px;
    align-self: center;
    color: white;
    text-shadow: 1px 1px 2px #0a0a0a;
    font-family: animebld;
}

#menu {
    align-self: center;
    justify-self: right;
    padding-right: 1rem;
}

i.fas.fa-paw{
    color: var(--panda-color);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px !important;
}

.fas.fa-bars{
    color: var(--panda-color1);
    text-shadow: 1px 1px 2px #0a0a0a;
    font-size: 32px;
    display: none;
}

#container {
    margin: 0 auto;
    max-width: 600px;
    width: 95vw;
    position: relative;
}

#container-body {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    align-items: center;
}

#question {
    display: flex;
    color: rgb(61, 61, 61);;
    height: 35vh;
    font-size: 25px;
    font-family: animeital;
    background: var(--gradient);
    margin-bottom: 20px;
    border-radius: .25rem;
    box-shadow: 4px 4px 10px #0a0a0a;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

#innerQuestion {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 92%;
    height: 90%;
    border-radius: .25rem;
    align-items: center;
    padding: 5px;
}

#question-text{
    width: 100%;
}

#answer-container{
    display: grid;
    height: 25vh;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    grid-template-rows: 1fr 1fr;
}

.answer{
    border: none;
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
    justify-content: center;
    border-radius: .25rem;
    box-shadow: 4px 4px 10px #0a0a0a;
    height: calc(100% - 10px);
    cursor: pointer;
    transition: 150ms;
    font-size: 20px;
    font-family: animeital;
    font-weight: bolder;
    align-items: center;
    text-align: center;
   
}

.mask{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.hidden {
    display: none;
}

#container-progressBar{
    max-width: 600px;
    width: 95vw;
    background: var(--gradient);
    box-shadow: 4px 4px 10px #0a0a0a;
    border: 2px solid rgb(88, 88, 88);
    border-radius: .25rem;
}

#progressBar {
    height: 27px;
    background: #242424;
    float: right;
    border-radius: .1rem;
  
    
}


.correct {
    background-color: yellowgreen;
    color: white;
    box-shadow: 4px 4px 10px #0a0a0a;
   
}

.false {
    background-color: rgb(61, 61, 61);
    color: white;
    box-shadow: 4px 4px 10px #0a0a0a;
}

@media screen and (max-width: 362px) {
    #logo {
        font-size: 18px;
    }
    
    i.fas.fa-paw{
        font-size: 28px !important;
    }
    
    .fas.fa-bars{
        font-size: 28px;
    }
    
    .fas.fa-times{
        font-size: 28px;
    }

    .icon{
        font-size: 20px;
    }

    .menu-item{
        font-size: 16px;
    }

    .menu-p{
        font-size: 16px;
    }

    .fa-seedling{
        font-size: 18px !important;
    }
  }